@import 'shared/styles/sButton.css';
@import 'shared/styles/sInput.css';
@import 'shared/styles/rowCol.css';

#body{
  z-index: 9;
  margin-bottom: 0.6rem;
}

#header{
  font-family: "Bell MT", sans-serif;
  font-size: 1.2rem;
  background-color: cadetblue;
  position: relative;
  margin: 0 0 0.6rem;
  height: fit-content;
  padding: 0.6rem;
  display: flex;
  flex-direction: row;
}

#home{
  font-weight: bold;
  font-style: italic;
  color: goldenrod;
  font-size: 3rem;
  position: relative;
  background: rgba(40, 0, 73, 0.7);
  padding: 0.6rem;
  border: 0.2rem solid cornflowerblue;
}

#home:hover{
  cursor: pointer;
  border: 0.2rem solid goldenrod;
}

#right{
    margin-left: auto;
}

#userInfo{
  display: flex;
  align-items: center;
}

#username{
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 0.6rem;
}

.inputColumn{
  width: 70%;
  padding-right: 0.6rem;
}

@keyframes expand {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#settingsBox{
  animation: expand 0.3s ease-in;
  position: relative;
  margin-left: auto;
  border: 0.2rem solid darkgoldenrod;
  padding: 0.3rem;
  width: fit-content;
  height: fit-content;
  background: cadetblue;
  z-index: 9;
}

#logInForm{
  padding: 1.2rem;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%; transform: translateX(-50%);
  background-color: cadetblue;
  z-index: 9;
  border: 0.2rem solid darkgoldenrod;
  border-top: none;
}

.dropdown button {
  display: block;
  margin: 0.3rem 0.3rem;
}

.menu-container:hover .dropdown {
  display: block;
}
