@import '../../shared/styles/sButton.css';

.outerBox {
  display: flex;
  justify-content: center;
  font-family: "Bell MT", serif;
}

.blueBox {
  background-color: cadetblue;
  padding: 0.9em;
  border: 0.2em solid goldenrod;
  gap: 1.2em;
}

#infoHeader {
  margin-top: 1.2em;
}

#bookTitle {
  font-size: 2em;
  font-weight: bold;
}

#bookTitle:hover {
  cursor: pointer;
  text-decoration: underline;
  color: goldenrod;
}

@keyframes expand {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#formBox{
  display: block;
  animation: expand 1s ease-in;
}

.settingsElem{
  padding: 0.6em;
}

.chContent {
  padding: 1.2em;
  width: 90%;
  height: auto;
  white-space: pre-wrap;
  border: 0.08em solid #969db6;
  transition-duration: 0.3s;
}

.chTitle {
  font-size: 1.5em;
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  gap: 0.6em;
}

.centerVH {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}
