@if (chapterContent) {
  <div class="outerBox column">
    <div class="column blueBox" id="infoHeader">
      <a id="bookTitle" (click)="routeToBook()">{{ bookTitle }}</a>
      <div class="centerVH chTitle">
        {{ chapterNumber }} :
        <div [ngClass]="{'obscured': chapterContent.isSpoiler}"> {{ chapterContent.title }} </div>
      </div>
      <div class="row">
        <button class="sButton" (click)="fetchChapter(chapterNumber-1)">Previous</button>
        <button class="sButton" (click)="toggleSettings()">Settings</button>
        <button class="sButton" (click)="fetchChapter(chapterNumber+1)">Next</button>
      </div>
      @if (showSettings) {
        <div class="column" id="formBox">
          <form [formGroup]="styleForm">
            <div class="row settingsElem">
              <label for="dropdownFontSizeList" class="outerLabel">Font size: </label>
              <select formControlName="fontSize" id="dropdownFontSizeList">
                @for (fontSize of maxFontSize | timesMax : minFontSize; track fontSize) {
                  <option value="{{fontSize}}">{{ fontSize }}</option>
                }
              </select>
            </div>
            <div class="row settingsElem">
              <label for="dropdownFontFamilyList" class="outerLabel">Font family: </label>
              <select formControlName="fontFamily" id="dropdownFontFamilyList">
                @for (fontFamily of fontFamilies; track fontFamily) {
                  <option value="{{fontFamily}}">{{ fontFamily }}</option>
                }
              </select>
            </div>
            <div class="row settingsElem">
              <label for="dropdownLineHeightList" class="outerLabel">Line height: </label>
              <select formControlName="lineHeight" id="dropdownLineHeightList">
                @for (lh of maxLineHeight | timesMax : minLineHeight; track lh) {
                  <option value="{{lh*10}}">{{ lh * 10 }}%</option>
                }
              </select>
            </div>
            <div class="row settingsElem">
              <label for="dropdownColorList" class="outerLabel">Background color: </label>
              <select formControlName="backgroundColor" id="dropdownColorList">
                @for (color of backgroundColors; track color) {
                  <option value="{{color}}" [ngStyle]="{'background-color': color}"> Choose background color
                    }
              </select>
            </div>
            <div class="row settingsElem">
              <label for="alignTextList" class="outerLabel">Align text: </label>
              <select formControlName="alignText" id="alignTextList">
                <option value="left">left</option>
                <option value="center">center</option>
                <option value="right">right</option>
              </select>
            </div>
          </form>
        </div>
      }
    </div>
    @if (styleForm) {
      <pre class="chContent" [ngStyle]="{
    'font-size': styleForm.value.fontSize + 'px',
    'font-family': styleForm.value.fontFamily + ', sans-serif',
    'line-height': styleForm.value.lineHeight + '%',
    'background-color' : styleForm.value.backgroundColor,
    'text-align' : styleForm.value.alignText} //noinspection UnresolvedReference">
        {{ chapterContent.content }}
      </pre>
    }
    <div class="row blueBox">
      <button class="sButton" (click)="fetchChapter(chapterNumber-1)">Previous</button>
      <div class="centerVH chTitle">
        {{ chapterNumber }} :
        {{ chapterContent.title }}
      </div>
      <button class="sButton" (click)="fetchChapter(chapterNumber+1)">Next</button>
    </div>
  </div>
}
