<div class="outerBox">
  @if (this.userData) {
    <div class="userProfileGrid">
      <div class="usernameBar centerVH">
        {{ preferenceArray[this.userData.preference] }} {{ this.userData.username }}
      </div>
      <div class="rankDiv row">
        <span
          style="font-size: 1.1em; margin-right: 0.4em">Cultivation stage:<br><b>{{ rankArray[this.userData.rank] }}</b></span>
        <span>Accumulation needed: <app-progress-bar [current]="userData.currentScore"
                                                     [goal]="progressArray[userData.rank]"></app-progress-bar></span>
      </div>
      <div class="profileImgDiv">
        <div class="image34Wrapper">
          <img class="image34" src="data:image/jpg;base64,{{this.userData.profileImage}}" alt="Profile image">
        </div>
      </div>
      <div class="statusDiv">
        {{ this.userData.status }}
      </div>
      <div class="lastUpdateDiv row">
        <div>Daoist title last updated at:<br>{{ parseDate(this.userData.dataUpdatedAt) }}</div>
        <div>Cultivating since:<br>{{ parseDate(this.userData.createdAt) }}</div>
      </div>
      <div class="previewsDiv">
        @if (!authoredBooks) {
          <div style="margin-bottom: 1.8em">
            <button class="fetchBooks sButton" (click)="fetchAuthoredBooks()">Load authored books</button>
          </div>
        } @else {
          @if (authoredBooks.length) {
            <div class="previewsColumn">
              @for (bp of authoredBooks; track bp.title) {
                <app-book-preview-card [bookPreview]="bp"/>
              }
            </div>
          } @else {
            <p class="infoMsg centerVH">No works written.</p>
          }
        }
      </div>
    </div>
  } @else {
    <div class="column">
      {{ this.userFetchErrorMsg }}
      <button class="sButton" routerLink="">Go to homepage</button>
    </div>
  }

</div>
