@import "../../../shared/styles/sButton.css";
@import "../../../shared/styles/rowCol.css";
@import "../../../shared/styles/image34.css";

.outerBox {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  min-height: 80vh;
  background-color: cadetblue;
  border: 0.2em solid darkgoldenrod;
  padding: 1em;
}

.userProfileGrid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1.2fr 0.8fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "userBar userBar userBar userBar previewsDiv"
    "profileImgDiv profileImgDiv rankDiv rankDiv previewsDiv"
    "profileImgDiv profileImgDiv statusDiv statusDiv previewsDiv"
    "profileImgDiv profileImgDiv statusDiv statusDiv previewsDiv"
    "profileImgDiv profileImgDiv statusDiv statusDiv previewsDiv"
    "lastUpdateDiv lastUpdateDiv  -  - previewsDiv";
  font-size: 1.1em;
}

.previewsDiv {
  grid-area: previewsDiv;
  width: 100%;
  height: 42em;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.previewsColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6em;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  max-height: 100%;
  padding: 0.6em;
  border: 0.2em solid darkgoldenrod;
  background-color: rgba(69, 108, 108, 0.65);
  overflow-y: auto;
}

.usernameBar {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  grid-area: userBar;
  color: rgba(40, 0, 73, 0.7);
}

.rankDiv {
  grid-area: rankDiv;
}

.profileImgDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  grid-area: profileImgDiv;
}

.statusDiv {
  grid-area: statusDiv;
  padding: 1.2em;
  overflow-wrap: break-word;
}

.lastUpdateDiv {
  grid-area: lastUpdateDiv;
}
