@import '../../../shared/styles/sButton.css';
@import '../../../shared/styles/m3Toggle.css';
@import '../../../shared/styles/sInput.css';
@import '../../../shared/styles/rowCol.css';

.filterBox {
  border: 3px solid darkgoldenrod;
  padding: 10px 10px 15px;
  background-color: cadetblue;
  font-family: "Bell MT", serif;
}

select {
  width: 60%;
}

.tagsDiv {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.tagSelector {
  display: flex;
  align-items: center;
}

.tagName {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 10px;
}

.left {
  align-items: start;
}

.filterButtons{
  padding-top: 8px;
  padding-bottom: 8px;
}

#dropdownRatingList{
  width: 40%;
  margin-right: 0;
}

#titleColumn{
  margin-bottom: 10px;
}


