@import '../../../shared/styles/sButton.css';
@import '../../../shared/styles/m3Toggle.css';

.filterBox {
  border: 3px solid darkgoldenrod;
  padding: 10px 10px 15px;
  background-color: cadetblue;
  font-family: "Bell MT", serif;
}

select {
  width: 60%;
}

.tagsDiv {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.tagSelector {
  display: flex;
  align-items: center;
}

.tagName {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.left {
  align-items: start;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.filterButtons{
  padding-top: 8px;
  padding-bottom: 8px;
}

#dropdownRatingList{
  width: 40%;
  margin-right: 0;
}

.numberInput-container {
  position: relative;
  margin: 10px 20px 20px -5px;
  width: 100px;
}

.input-container {
  position: relative;
  margin-top: 20px;
  width: 250px;
}

#titleColumn{
  margin-bottom: 10px;
}

.input-field {
  display: block;
  width: 100%;
  padding: 6px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

.outerLabel {
  width: 200px;
  text-align: left;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: bold;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: goldenrod;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: goldenrod;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

.errorBox{
  width: 200px;
  font-style: italic;
  text-align: left;
  color: bisque;
}
