@import '../../../shared/styles/button.css';

.filterBox {
  border: 3px solid darkgoldenrod;
  padding: 10px 10px 15px;
  background-color: cadetblue;
  font-family: "Bell MT", serif;
}

select {
  width: 60%;
}



.tagsDiv {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.tagSelector {
  display: flex;
  align-items: center;
}

.tagName {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.left {
  align-items: start;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.mt-square3d-custom {
  display: inline-block;
  box-sizing: border-box
}

.mt-square3d-custom label {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  width: 7em;
  height: 2em;
  background: #fff;
  box-shadow: inset 0 .1em .03em rgba(0, 0, 0, .2), inset 0 .1em .3em rgba(0, 0, 0, .3), 0 0 2em hsla(0, 0%, 100%, .6);
  transition: all .3s ease
}

.mt-square3d-custom label:before {
  content: "";
  display: block;
  position: absolute;
  width: 3.6em;
  height: 3.2em;
  top: -.7em;
  left: -.1em;
  transition: .5s cubic-bezier(.52, -.41, .55, 1.46)
}

.mt-square3d-custom input {
  position: absolute;
  box-sizing: border-box;
  height: 0;
  width: 0;
  font-size: inherit;
  margin: 0;
  border: none;
  z-index: 1;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none
}

.mt-square3d-custom input:focus {
  outline: none
}

.mt-square3d-custom input:checked + label:before {
  transform: translateX(3.5em)
}

.mt-square3d-custom input:disabled + label {
  background: #ccc !important;
  cursor: not-allowed !important
}

.mt-square3d-custom input:disabled + label:before {
  background: #ccc !important;
  border-bottom: .07em solid #ccc !important;
  box-shadow: 0 .16em .01em #aaa, 0 .12em .3em hsla(0, 0%, 39.2%, .6), 0 .12em 2em rgba(0, 0, 0, .3), .12em .15em .2em rgba(0, 0, 0, .2) !important
}

.mt-square3d-custom label:before {
  background: #5b5656;
  border-bottom: .07em solid #756f6f;
  box-shadow: 0 .16em .01em #343131, 0 .12em .3em rgba(52, 49, 49, .6), 0 .12em 2em rgba(0, 0, 0, .3), .12em .15em .2em rgba(0, 0, 0, .2)
}

.mt-square3d-custom input:checked + label:before {
  background: #daa520;
  border-bottom: .07em solid #b8860b;
  box-shadow: 0 .16em .01em #efb429, 0 .12em .3em rgb(151, 108, 3), 0 .12em 2em rgba(0, 0, 0, .3), -.12em .15em .2em rgba(0, 0, 0, .2)
}

.filterButtons{
  padding-top: 8px;
  padding-bottom: 8px;
}

#dropdownRatingList{
  width: 40%;
  margin-right: 0;
}

.numberInput-container {
  position: relative;
  margin: 10px 20px 20px -5px;
  width: 100px;
}

.input-container {
  position: relative;
  margin-top: 20px;
  width: 250px;
}

#titleColumn{
  margin-bottom: 10px;
}

.input-field {
  display: block;
  width: 100%;
  padding: 6px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

.outerLabel {
  width: 200px;
  text-align: left;
}

.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: bold;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: goldenrod;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: goldenrod;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

.errorBox{
  width: 200px;
  font-style: italic;
  text-align: left;
  color: bisque;
}
