@import "../../../shared/styles/sInput.css";
@import "../../../shared/styles/sButton.css";
@import "../../../shared/styles/textArea.css";
@import "../../../shared/styles/rowCol.css";
@import "../../../shared/styles/m3Toggle.css";
@import "../../../shared/styles/horizontalTagSelector.css";
@import "../../../shared/styles/image34.css";

#outerBox {
  width: 100%;
  height: 100%;
}

#innerBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1.5fr 1fr 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "titleDiv titleDiv infoDiv infoDiv infoDiv"
    "dropDiv dropDiv infoDiv infoDiv infoDiv"
    "dropDiv dropDiv descriptionDiv descriptionDiv descriptionDiv"
    "dropDiv dropDiv descriptionDiv descriptionDiv descriptionDiv"
    "buttonDiv buttonDiv tagDiv tagDiv tagDiv";
}

.titleDiv {
  grid-area: titleDiv;
  padding-bottom: 0.5em;
}

.dropDiv {
  grid-area: dropDiv;
}

.buttonDiv {
  grid-area: buttonDiv;
}

.descriptionDiv {
  grid-area: descriptionDiv;
}

.textArea{
  margin-right: 0.5em;
  margin-left: 0.5em;
  max-width: min(40em, 100%);
}

.infoDiv {
  text-align: center;
  grid-area: infoDiv;
}

.bookCreationDiv{
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.sButtonColor::before, .sButtonColor::after{
  background-color: #86B1BE;
}

:host {
  --buttonColor: #86B1BE;
}
