<form id="outerBox" [formGroup]="bookCreationForm" (ngSubmit)="attemptBookCreation()">
  <div class="titleDiv centerVH">
    <div class="inputColumn">
      <div class="input-container">
        <input placeholder="Enter title here" class="input-field" id="titleInput" type="text" maxlength="40"
               formControlName="title">
        <label for="titleInput" class="input-label">The title shall be: </label>
        <span class="input-highlight"></span>
      </div>
      <div class="errorBox" *ngIf="bookCreationForm.get('title')?.invalid && (bookCreationForm.get('title')?.dirty)">
        Enter a valid title, from 5 to 40 characters long. Allowed special characters: '-', ''', '!', '"', '_', and
        whitespace.
      </div>
    </div>
  </div>
  <div class="dropDiv">
    <app-image-drop [parentControl]="getCoverImageControl()"></app-image-drop>
  </div>
  <div class="buttonDiv row">
    <button class="sButton disabledHide" type="submit"
            [disabled]="bookCreationForm.invalid || bookCreationForm.pristine">Create book
    </button>
    <button class="sButton" type="reset" (click)="resetForm()">Reset</button>
  </div>
  <div class="tagDiv">
    <span class="tagsInfoText centerVH">Select at least one tag that applies to your book:</span>
    <div formGroupName="bookTags" class="tagSelectorDiv row">
      <div class="mt-square3d-custom tagSelector" *ngFor="let tag of allTags; let i = index; trackBy: identifyTag"
           style="font-size:0.8em;">
        <span class="tagName">{{ tag }}</span>
        <input id="checkMt_{{i}}" type="checkbox" formControlName="{{i}}"/>
        <label for="checkMt_{{i}}"></label>
      </div>
    </div>

  </div>
  <div class="descriptionDiv column">
    <div class="errorBox" *ngIf="bookCreationForm.get('description')?.invalid && (bookCreationForm.get('description')?.dirty)">
      Enter between 50 and 700 characters.
    </div>
    <textarea placeholder="Enter description here"
              class="textArea"
              rows="14"
              cols="50"
              maxlength="700"
              formControlName="description"></textarea>
  </div>
  <div class="infoDiv">
    <span class="errorBox" *ngIf="bookCreationErrorMessage">{{ this.bookCreationErrorMessage }}</span>
    <p>Info div</p>
  </div>
</form>
