    target/
build/

.DS_Store
.idea/
*.iml
*.log

.mvn/
.gradle/
!mvnw
!mvnw.cmd
!gradlew
!gradlew.bat
.git/
.gitignore
.gitattributes
.gitmodules

**/test/
*.swp
*.tmp
*.bak
*.~*

Thumbs.db
ehthumbs.db
desktop.ini

.secret
.env
*.class
*.jar
*.war