.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.centerVH{
  display: flex;
  justify-content: center;
  align-items: center;
}
