.numberInput-container {
  position: relative;
  margin: 0.6em 1.2em 1.2em -0.3em;
  width: 6em;
}

.input-container {
  position: relative;
  margin-top: 1.2em;
  width: 15em;
}

.input-field {
  display: block;
  width: 100%;
  padding: 0.35em;
  font-size: 0.9em;
  border: none;
  border-bottom:0.18em solid #ccc;
  outline: none;
  background-color: transparent;
}

.outerLabel {
  width: 12em;
  text-align: left;
}

.input-label {
  margin-top:0.2em;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.08em;
  font-weight: bold;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height:0.18em;
  width: 0;
  background-color: goldenrod;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: -1.2em;
  font-size: 0.72em;
  color: goldenrod;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

.errorBox{
  margin-top: 0.6em;
  width: 12em;
  font-style: italic;
  text-align: center;
  color: bisque;
}

.alignLeft{
  text-align: left;
}
