.value-row {
  display: flex;
  gap: 0.3em;
}

.ratingBox {
  cursor: pointer;
  transition: all 0.3s ease;
  width:3.6em;
  height:3.6em;
  opacity: 0.5;
  background-color: #280049;
}

.ratingBox:hover {
  background-color: #f0f0f0;
}

.ratingBox.selected {
  z-index: 1;
  opacity: 1;
  background: darkgoldenrod;
}

.fillBox{
  height: 100%;
  width: 100%;
}
