<div id="outerBox" class="column">
  <div id="formBox">
    <form id="passwordResetForm" *ngIf="passwordResetForm" [formGroup]="passwordResetForm"
          (ngSubmit)="attemptPasswordReset()">
      <div class="row">
      <div class="column" style="margin-right: 1.2em">
        <div>
          <div class="input-container">
            <input placeholder="Enter new password" class="input-field" id="passwordInput1"
                   [type]="showPassword ? 'text' : 'password'" maxlength="30" formControlName="newPassword">
            <label for="passwordInput1" class="input-label">Password: </label>
            <span class="input-highlight"></span>
          </div>
          <div class="errorBox"
               *ngIf="passwordResetForm.get('newPassword')?.invalid && (passwordResetForm.get('newPassword')?.dirty)">
            Enter at between 8 and 30 characters, including at least one uppercase letter, one lowercase letter and one
            special character.
          </div>
        </div>
        <div id="repeatPassword">
          <div class="input-container">
            <input placeholder="Repeat the new password" class="input-field" id="passwordInput2"
                   [type]="showPassword ? 'text' : 'password'" maxlength="30" formControlName="repeatPassword">
            <label for="passwordInput2" class="input-label">Repeat password: </label>
            <span class="input-highlight"></span>
          </div>
          <div class="errorBox" *ngIf="passwordMismatchError && passwordResetForm.touched">
            Passwords do not match
          </div>
        </div>
      </div>
        <button class="sButton" type="button" style="font-size:  1em" (click)="toggleShowPassword()">
          {{ showPassword ? 'Hide' : 'Show' }} Password
        </button>
      </div>
      <div class="row" style="margin-top:  1em;">
        <button class="sButton" type="submit" [disabled]="passwordResetForm.invalid || passwordResetForm.pristine">Reset
          password
        </button>
      </div>
    </form>
    <form id="emailInputForm" *ngIf="emailInputForm" [formGroup]="emailInputForm" (ngSubmit)="sendPasswordResetEmail()">
      <div class="newPassword">
        <div class="input-container">
          <input placeholder="Enter email address" class="input-field" id="emailInput" type="text" maxlength="30"
                 formControlName="email">
          <label for="emailInput" class="input-label">Email: </label>
          <span class="input-highlight"></span>
        </div>
        <div class="errorBox" *ngIf="emailInputForm.get('email')?.invalid && (emailInputForm.get('email')?.dirty)">
          Enter a valid email address
        </div>
      </div>
      <div class="row" style="margin-top:  1em;">
        <button class="sButton" type="submit" [disabled]="emailInputForm.invalid || emailInputForm.pristine">Send
          password reset email
        </button>
      </div>
    </form>
  </div>
  <ng-container *ngIf="successSend !== undefined">
    @if (this.successSend) {
      <div class="column">
        <p>Password reset email sent successfully. Click on the link (expires in 24 hours) in the received email to
          complete the procedure. You can close this page.</p>
        <button class="sButton" routerLink="">Go to homepage</button>
      </div>
    } @else {
      <div class="column">
        <p>Password reset email could not be sent. Please make sure the account for the given email address exists and
          the account isn't a Google account. Failure details: {{sendErrorMessage}}</p>
      </div>
    }
  </ng-container>
  <ng-container *ngIf="successReset !== undefined">
    @if (this.successReset) {
      <div class="column">
        <p>Password has been reset successfully. You can close this page.</p>
        <button class="sButton" routerLink="">Go to homepage</button>
      </div>
    } @else {
      <div class="column">
        <p>Password reset failed. Please make sure the sent email is no older than 24 hours, the token in the email has
          not been used, the account exists and isn't a Google account. Failure details: {{resetErrorMessage}}</p>
        <button class="sButton" routerLink="/password-recovery" (click)="reload()">Try again</button>
      </div>
    }
  </ng-container>
</div>
