@import '../../shared/styles/sButton.css';
@import '../../shared/styles/pageNumberBox.css';

.description {
  line-height: 1.5;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  gap: 10px;
}

.fetchRatings{
  position: relative;
  left: 40%;
  right: 40%;
  margin-top: 10px;
}

.bookReviews {
  flex: 0 0 35%;
  border: 3px solid goldenrod;
  margin-top: 5px;
  padding: 10px;
  background: cadetblue;
  overflow: auto;
  max-height: 1480px;
}

.reviewElement {
  max-width: 100%;
  padding: 10px;
  border: 3px dashed goldenrod;
  background-color: cadetblue;
  display: flex;
}

.reviewData {
  border-right: 3px dashed goldenrod;
  padding-right: 5px;
}

#comment{
  margin-left: 10px;
}

.userLink {
  color: bisque;
  text-decoration: none;
  font-weight: bold;
}

.userLink:hover {
  cursor: pointer;
  color: goldenrod;
}

#comment {
  max-width: 20vw;
  overflow-wrap: break-word;
}

.outerBox {
  display: flex;
  font-family: "Bell MT", serif;
  width: 90vw;
}

.bookInfo {
  flex: 0 0 70%;
  min-width: 60vw;
}

.bookCard {
  background-color: cadetblue;
  border: 3px solid goldenrod;
  padding: 10px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1.5fr 0.5fr 1fr 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "coverDiv titleDiv titleDiv titleDiv"
    "coverDiv ratingDataDiv ratingDataDiv ratingDataDiv"
    "coverDiv descDiv descDiv descDiv"
    "infoDiv descDiv descDiv descDiv"
    "infoDiv descDiv descDiv descDiv"
    "infoDiv descDiv descDiv descDiv";
  text-align: center;
  font-weight: 700;
  font-size: 1.15rem;
}

.centerVH{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleDiv {
  grid-area: titleDiv;
  font-size: 2rem;
}

.ratingDataDiv {
  grid-area: ratingDataDiv;
}

.infoDiv {
  grid-area: infoDiv;
}

.coverDiv {
  padding-top: 5px;
  grid-area: coverDiv;
  overflow: hidden;
}

.descDiv {
  grid-area: descDiv;
  overflow-wrap: break-word;
  padding: 20px;
}

.outChapBox{
  min-width: 60vw;
  background: cadetblue;
  padding: 10px;
  margin: 5px;
  border: 3px solid goldenrod;

}

.pagingButtons{
  padding: 10px;
}

.chapterPrevBox{
  grid-area: chapterPrevBox;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 60px);
  gap: 10px;
  row-gap: 20px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.chapterBox {
  background-color: #969db6;
  height: 60px;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid gray;
}

.chapterBox:hover {
  background: goldenrod;
  box-shadow: 3px 3px 2px gray;
  cursor: pointer;
}

.bold{
  font-weight: bold;
  font-size: 1.05rem;
}

#chNumber{
  font-size: 1.5rem;
  border-right: 2px solid gray;
  flex: 0 0 18%;
}

#chInfo{
  flex: 0 0 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tagsDiv {
  grid-area: tagsDiv;
  display: flex;
  gap: 3px;
}

.tagBox {
  border: 2px solid goldenrod;
  border-radius: 5px;
  background-color: goldenrod;
}

.tagBox:hover {
  cursor: pointer;
  background-color: darkgoldenrod;
  border-color: darkgoldenrod;
  box-shadow: 3px 3px 2px gray;
}

