<div class="outerBox">
  <div class="bookInfo column">
    <div class="bookCard" *ngIf="bookPreview && bookDetail">
      <div class="titleDiv centerVH">{{ bookPreview.title }}</div>
      <div class="ratingDataDiv row centerVH">
        Average rating of {{ bookPreview.averageRating.toFixed(2) }} /10 from {{ bookPreview.ratingCount }} ratings
      </div>
      <div class="descDiv">
        <span id="header">Description:</span>
        <pre class="formatPre"> {{ bookDetail.description }}</pre>
      </div>
      <div class="infoDiv column">
        <div class="authorDiv"> Penned by: <span class="userLink"
                                                 [routerLink]="['/profile', bookDetail.author]"> {{ bookDetail.author }}</span>
        </div>
        <div class="stateDiv">Book state: {{ bookPreview.bookState }}</div>
        <div class="chapterCount">Chapter count: {{ bookPreview.chapterCount }}</div>
        <div class="tagsDiv">
          @for (tag of bookPreview.bookTags; track tag) {
            <span class="tagBox" [routerLink]="['/filter']" [queryParams]="{ hasTags: tag }">{{ tag }}</span>
          }
        </div>
      </div>
      <div class="coverDiv centerVH">
        <div class="image34Wrapper">
          <img class="image34" src="data:image/jpg;base64,{{bookPreview.coverImage}}" alt="Cover image">
        </div>
      </div>
    </div>

    <ng-container *ngIf="vm$ | async as vm">
      <div class="outChapBox column">
        @if (vm.length) {
          <div *ngIf="info$ | async as info" class="pagingButtons row">
            <div class="pageNumberBox" aria-label="First page" (click)="onChosenPage(0)"
                 [class.selected]="0 == info.page">1
            </div>
            <button type="button" class="pageNumberBox" aria-label="Previous Page" (click)="onPreviousPage()">←</button>
            <div class="pageNumberBox"
                 *ngFor="let pageNumber of info.totalPages - 1 | timesMaxPaging : info.page : 6; trackBy identifyPage"
                 (click)="onChosenPage(pageNumber)"
                 [class.selected]="pageNumber === info.page">{{ pageNumber + 1 }}
            </div>
            <button type="button" class="pageNumberBox" aria-label="Next Page" (click)="onNextPage()">→</button>
            <div class="pageNumberBox" aria-label="Last page" (click)="onChosenPage(info.totalPages - 1)"
                 [class.selected]="info.totalPages -1 === info.page">{{ info.totalPages }}
            </div>
          </div>
          <div class="chapterPrevBox">
            @for (chPrev of vm; track chPrev.number) {
              <div class="chapterBox row" [routerLink]="['chapter', chPrev.number, this.bookPreview.id]">
                <span class="bold centerVH" id="chNumber">{{ chPrev.number.toString().padStart(4, '0') }}</span>
                <div class="column" id="chInfo">
                  <span class="bold">{{ chPrev.title }}</span>
                  <span>Updated at: {{ parseDateString(chPrev.updatedAt) }}</span>
                </div>
              </div>
            }
          </div>
        } @else {
          <p class="infoMsg centerVH">No chapters available.</p>
        }
      </div>
    </ng-container>

  </div>
  <div class="bookReviews">
    <button class="fetchRatings sButton" (click)="startUpsertRatingProcedure()">Add/Update
      rating
    </button>
    @if (!ratings) {
      <div style="margin-bottom: 1.8em">
        <button class="fetchRatings sButton" (click)="fetchRatings().subscribe()">Load book reviews</button>
      </div>
    } @else {
      @if (ratings.length) {
        <div class="column">
          @for (review of ratings; track review.username) {
            <div class="reviewElement">
              <div class="column reviewData">
                <span>By: <span class="userLink"
                                [routerLink]="['/profile', review.username]">{{ review.username }}</span></span>
                <span>Rating: <span style="font-weight:bold">{{ review.currentRating }}/10</span></span>
                <span>At: {{ parseDateString(review.updatedAt) }}</span>
              </div>
              <span id="comment"> {{ review.comment }}</span>
            </div>
          }
        </div>
      } @else {
        <p class="infoMsg centerVH">No ratings available.</p>
      }
    }
  </div>
  @if (showRatingUpsertForm) {
    <div class="upsertRatingForm">
      <form [formGroup]="ratingUpsertForm" (ngSubmit)="upsertRating()" class="column">
        <span id="ratingUpsertInfo">
          <b>Add or edit your previous rating for this book.</b><br>Choose a rating between 1 and 10 to proceed. You are also encouraged to add a comment - up to 200 characters in length.<br>Leaving reviews can not only help fellow daoists, but increase your own accumulation as well.
        </span>
        <label for="commentInput">Comment:</label>
        <textarea
          id="commentInput"
          class="textArea"
          formControlName="comment"
          rows="4"
          cols="50"
          maxlength="200"
        ></textarea>
        <b>Choose rating:</b>
        <app-range-selector [parentControl]="rangeSelectorControl" [values]="ratingValues" [selectedIndex]="rangeSelectorControl.value-1"></app-range-selector>
        <span class="errorBox" *ngIf="this.ratingUpsertMessage">{{ this.ratingUpsertMessage }}</span>
        <div class="row">
          <button type="submit" class="sButton">@if (this.previousRating) {Edit rating} @else {Add rating}</button>
          <button class="sButton" (click)="closeRatingUpsertForm()">Cancel</button>
        </div>
      </form>
    </div>
  }
</div>
