<div id="outerBox">
  <div id="topBarDiv">
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="100%" y2="0">
          <stop offset="0%" stop-color="#a66c00"/>
          <stop offset="100%" stop-color="#280049B2"/>
        </linearGradient>
      </defs>
      <text x="50%" y="50%" text-anchor="middle" fill="url(#gradient)">Author works - Enlighten the masses.</text>
    </svg>
  </div>
  <div id="contentDiv">
    @if (this.showImage){
      <img src="/japan-rising-sun-bamboo-forest-kyoto.jpg" style="width: 100%; height: auto; opacity: 0.9;" alt="Bamboo forest">
    }
    <router-outlet></router-outlet>
  </div>
  <div id="previewContainer">
    <div class="column">
      <button class="sButton" routerLink="create">Create a new work</button>
      <span class="centerVH" >Or improve the existing ones:</span>
    </div>
    <div class="previewsDiv" style="font-size: 0.75em;">
      @if (bookPreviews.length) {
        <div class="previewsColumn">
          @for (bp of bookPreviews; track bp.id; let i = $index) {
              <app-book-preview-card
                routerLink="edit"
                (click)="moveToEdit(i)"
                [disableRouterLink]="true"
                [bookPreview]="bp">
              </app-book-preview-card>
          }
        </div>
      } @else {
        <p class="infoMsg centerVH">No works written.</p>
      }
    </div>
  </div>
</div>
