<div id="outerBox">
  <div id="routerBox">
    <button class="sButton" routerLink="create"></button>
    <router-outlet></router-outlet>
  </div>
  <div id="previewsDiv">
    @if (bookPreviews.length) {
      <div class="previewsColumn">
        @for (bp of bookPreviews; track bp.id; let i = $index) {
          <div id="blocker" (click)="moveToEdit(i)">
            <app-book-preview-card [bookPreview]="bp"></app-book-preview-card>
          </div>
        }
      </div>
    } @else {
      <p class="infoMsg centerVH">No works written.</p>
    }
  </div>

</div>
