<div class="column">
  <div
    class="drop-zone"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    [class.active]="isDropZoneActive"
  >
    <p *ngIf="!imagePreview">Drag and drop your profile image here, or click to browse.</p>
    <div class="image34Wrapper">
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Image preview" class="image34"/>
    </div>
    <input
      type="file"
      id="fileInput"
      hidden
      accept="image/*"
      (change)="onFileChange($event)"
      #fileInput
    />
  </div>
  <div class="row">
    <button type="button" class="sButton sButtonColor" (click)="fileInput.click()">Browse local images</button>
    <button type="button" class="sButton sButtonColor" (click)="resetImage()">Reset image</button>
  </div>
  <span class="errorBox" *ngIf="parentControl.invalid">Invalid file type of picture uploaded.</span>
</div>
