@import "../styles/sButton.css";
@import "../styles/image34.css";
@import "../styles/rowCol.css";

.drop-zone {
  border:0.18em dashed rgba(40, 0, 73, 0.7);
  border-radius: 0.6em;
  padding: 1.2em;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.drop-zone.active {
  background-color: #e8f7ff;
  border-color: #007bff;
}

.drop-zone img {
  max-width: 100%;
}

.image34Wrapper{
  border: none;
}
