<p>home works!</p>
<div>
  @for (bp of bookPreviews; track bp.title){
    <div class="bookPreviewCard">
      <div class="coverImgDiv">
        <img src="data:image/jpg;base64,{{bp.coverImage}}" alt="No cover">
      </div>
      <div class="ratingDiv">
        <div class="avgRating">
          {{bp.averageRating}}/10
        </div>
        <div class="ratingCount">
          {{bp.ratingCount}}
        </div>
      </div>
      <div class="titleDiv">
        {{bp.title}}
      </div>
      <div class="chapterDiv">
        {{bp.chapterCount}}
      </div>
      <div class="stateDiv">
        {{bp.bookState}}
      </div>
    </div>
  }
</div>
