<div *ngIf="bookPreview" class="bookPreviewCard" [routerLink]="['/book/' + bookPreview.title]">
  <div class="coverImgDiv">
    <img src="data:image/jpg;base64,{{bookPreview.coverImage}}" alt="No cover" style="width: 100%; height: 100%;">
  </div>
  <div class="ratingDiv">
    <div class="avgRating" style="font-size: 2em">
      {{ bookPreview.averageRating }} <span style="font-size: 1em; padding-top: 10%">/10</span>
    </div>
    <div class="ratingCount">
      from: {{ bookPreview.ratingCount }}
    </div>
  </div>
  <div class="titleDiv">
    {{ bookPreview.title }}
  </div>
  <div class="chapterDiv">
    {{ bookPreview.chapterCount }} <span style="font-size: 0.8em; padding-top: 10%"> ch</span>
  </div>
  <div class="stateDiv">
    {{ bookPreview.bookState }}
  </div>
</div>
