<div *ngIf="bookPreview" class="bookPreviewCard" (click)="routeToBook()">
  <div class="coverImgDiv">
    <img src="data:image/jpg;base64,{{bookPreview.coverImage}}" alt="No cover" width="180px" height="240px">
  </div>
  <div class="ratingDiv">
    <div class="avgRating" style="font-size: 3rem">
      {{ bookPreview.averageRating }} <span style="font-size: 1rem; padding-top: 10%">/10</span>
    </div>
    <div class="ratingCount">
      from: {{ bookPreview.ratingCount }}
    </div>
  </div>
  <div class="titleDiv">
    {{ bookPreview.title }}
  </div>
  <div class="chapterDiv">
    {{ bookPreview.chapterCount }} <span style="font-size: 0.9rem; padding-top: 10%"> ch</span>
  </div>
  <div class="stateDiv">
    {{ bookPreview.bookState }}
  </div>
</div>
