.bookPreviewCard {
  background-color: cadetblue;
  border: 0.3rem solid goldenrod;
  height: 100%;
  min-height: 220px;
  max-height: 300px;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    "coverImgDiv coverImgDiv coverImgDiv stateDiv stateDiv"
    "coverImgDiv coverImgDiv coverImgDiv chapterDiv chapterDiv"
    "coverImgDiv coverImgDiv coverImgDiv ratingDiv ratingDiv"
    "coverImgDiv coverImgDiv coverImgDiv ratingDiv ratingDiv"
    "titleDiv titleDiv titleDiv titleDiv titleDiv";
  text-align: center;
  font-weight: 700;
  font-family: "Bell MT", serif;
}

.bookPreviewCard:hover {
  background-color: royalblue;
  box-shadow: 0.6rem 0.6rem 0.3rem gray;
}

.coverImgDiv {
  grid-area: coverImgDiv;
}

.stateDiv {
  grid-area: stateDiv;
  background-color: lightblue;
  font-size: 0.9rem;
  border-bottom: 0.3rem solid goldenrod;
  border-left: 0.3rem solid goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapterDiv {
  grid-area: chapterDiv;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-left: 0.3rem solid goldenrod;
  border-bottom: 0.23rem solid goldenrod;
}

.ratingDiv {
  grid-area: ratingDiv;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 0.3rem solid goldenrod;
  border-top: 0.16rem solid goldenrod;
}

.titleDiv {
  grid-area: titleDiv;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.3rem solid goldenrod;
}
