@import "../../shared/styles/rowCol.css";
@import "../../shared/styles/borderBox.css";
@import "../../shared/styles/sButton.css";
@import "../../shared/styles/sInput.css";
@import "../../shared/styles/previewsColumn.css";

.outerBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5em;
  grid-auto-flow: row;
  grid-template-areas:
    "previewsDiv previewsDiv previewsDiv infoDiv infoDiv infoDiv"
    "previewsDiv previewsDiv previewsDiv infoDiv infoDiv infoDiv"
    "previewsDiv previewsDiv previewsDiv cornerDiv cornerDiv cornerDiv"
    "previewsDiv previewsDiv previewsDiv cornerDiv cornerDiv cornerDiv"
    "previewsDiv previewsDiv previewsDiv cornerDiv cornerDiv cornerDiv";
}

.infoDiv {
  grid-area: infoDiv;
  background: #969db6;
}

.cornerDiv {
    grid-area: cornerDiv;
  width: 50vw;
  height: auto;
  position: relative;
}
