@import "../../../shared/styles/sButton.css";
@import "../../../shared/styles/rowCol.css";
@import "../../../shared/styles/sInput.css";
@import "../../../shared/styles/m3Toggle.css";
@import "../../../shared/styles/image34.css";

#mainBox{
  background-color: cadetblue;
  border: 0.2em solid darkgoldenrod;
  padding: 1.2em;
  display: flex;
}

#infoDiv{
  width: 45%;
}

.disclaimer{
  font-size: 1.1em;
  word-wrap: break-word;
  text-align: justify;
}

#formDiv{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
