@import "../../../shared/styles/rowCol.css";
@import "../../../shared/styles/sInput.css";
@import "../../../shared/styles/sButton.css";

#outerBox{
  margin-left: 20%;
  margin-right: 20%;
  background-color: cadetblue;
  width: 60%;
  padding: 10px;
}

#repeatPassword{
  margin-bottom: 20px;
  margin-top: 20px;
}
