@import "../shared/styles/sButton.css";
@import "../shared/styles/rowCol.css";
@import "../shared/styles/sInput.css";

.outerBox {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 80vh;
  width: 90vw;
}

.userProfileGrid {
  background-color: cadetblue;
  border: 3px solid darkgoldenrod;
  padding: 20px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.6fr 0.4fr;

  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "topBar topBar topBar topBar topBar"
    "userBar userBar userBar userBar previewsDiv"
    "profileImgDiv profileImgDiv rankDiv rankDiv previewsDiv"
    "profileImgDiv profileImgDiv statusDiv statusDiv previewsDiv"
    "profileImgDiv profileImgDiv statusDiv statusDiv previewsDiv"
    "profileImgDiv profileImgDiv statusDiv statusDiv previewsDiv"
    "lastUpdateDiv lastUpdateDiv statusDiv statusDiv previewsDiv";
  font-size: 1.1rem;
}

.previewsDiv {
  grid-area: previewsDiv;
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
}

.previewsColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: 100%;
  padding: 10px;
  border: 3px solid darkgoldenrod;
  background-color: rgba(69, 108, 108, 0.65);
  overflow-y: auto;
}

.topBar {
  grid-area: topBar;
  border: 1px solid rgba(77, 1, 209, 0.7);
  background-color: rgba(202, 243, 243, 0.65);
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
}

#searchButton::after {
  background-color: rgba(202, 243, 243, 0.65);
}

#searchButton::before {
  background-color: rgba(202, 243, 243, 0.65);
}

.usernameBar {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  grid-area: userBar;
}

.rankDiv {
  grid-area: rankDiv;
}

.profileImgDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  grid-area: profileImgDiv;
}

.statusDiv {
  grid-area: statusDiv;
  padding: 20px;
  overflow-wrap: break-word;
}

.lastUpdateDiv {
  grid-area: lastUpdateDiv;
}
