<div class="outerBox">
  <div class="userProfileGrid">
    <div class="topBar">
      <form id="emailInputForm" *ngIf="userSearchForm" [formGroup]="userSearchForm" (ngSubmit)="searchForUser()">
        <div class="row">
          <div class="column">
            <label for="userSearchInput" class="outerLabel">Find a fellow daoist: </label>
            <div  class="errorBox alignLeft" *ngIf="userSearchForm.get('minChapters')?.invalid && (userSearchForm.get('minChapters')?.dirty)">
              Enter letters ('a-z' and 'A-Z'), digits ('0-9'), hi-fens ('-') or underscores ('_').
              Enter between between 5 and 20 characters long.
            </div>
          </div>
          <div>
            <input placeholder="" class="input-field" id="userSearchInput" type="text" formControlName="username">
            <label for="userSearchInput" class="input-label">Title: </label>
            <span class="input-highlight"></span>
          </div>
          <button class="sButton" id="searchButton" type="submit" [disabled]="userSearchForm.invalid || userSearchForm.pristine">Search
          </button>
        </div>
      </form>
    </div>
    @if(this.userPresent){
      <div class="usernameBar">
        {{this.preferenceArray[this.userData.preference]}} {{this.userData.username}}
      </div>
      <div class="rankDiv">
        {{this.rankArray[this.userData.rank]}}
        <span>Needed {{this.userData.currentScore}}/{{this.progressArray[this.userData.rank]}}</span>
      </div>
      <div class="profileImgDiv">
        <img src="data:image/jpg;base64,{{this.userData.profileImage}}" alt="Profile image" width="180px" height="240px">
      </div>
      <div class="statusDiv">
        {{this.userData.status}}
      </div>
      <div class="lastUpdateDiv">
        Username last updated at: {{parseDate(this.userData.dataUpdatedAt)}}
      </div>
    } @else {
      <div class="usernameBar row">
        User not found.
        <button class="sButton" routerLink="">Go to homepage</button>
      </div>
    }
  </div>
</div>
